*{
    padding: 0px;
    margin:0px;
}
body{
    background-color: rgb(131, 165, 195);
    text-align: center;
}
.cont{
    /* width: 70vh; */
    height: 70vh;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   

}
.game{
    width:60vh;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
     gap: 1.5vh;
}
.box{
    width:18vh;
    height: 18vh;
    border: 1px solid red;
    border-radius: 20%;
    font-size: 8vh;
    background-color: bisque;
}
.btn{
    width:8vh;
    height: 8vh;
    border: 1px solid rgb(32, 25, 25);
    border-radius: 10%;
    font-size: 2vh;
    
}
.newbtn{
    width:8vh;
    height: 8vh;
    border: 1px solid rgb(32, 25, 25);
    border-radius: 10%;
    font-size: 2vh;
    
}
main{
    font-size: 1vh;
}
.msg{
    /* width:8vh; */
    height: 8vh;
    border: 1px solid rgb(32, 25, 25);
    border-radius: 10%;
    font-size: 2vh;
    border: none;
}
.hide{
    display: none;
}

@media (max-width:413px){
    .box{
        width:14vh;
        height: 14vh;
        border: 1px solid red;
        border-radius: 20%;
        font-size: 8vh;
        background-color: bisque;
    }

    
}
@media (max-width:325px){
    .box{
        width:11vh;
        height: 11vh;
        border: 1px solid red;
        border-radius: 20%;
        font-size: 8vh;
        background-color: white;
    }

    
}
